* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Helvetica;
}

.navbar {
  background-color: #ff6b01;
  color: #ff6b01;
  display: flex;

}

.logo {
  filter: unset;
  height: 160px;
}


button {
  background-color: orange;
  color: white;
  text-align: center;
  border: none;
  padding: 6px;
  border-collapse: separate;
}

button:hover {
  transition: .3;
  transform: scale(1.1);
}

.boton {
  border-radius: 6px;
  font-weight: bold;
}

.lista_nav {
  list-style: none;
}

.lista_nav .item_lista {
  list-style: none;
  display: inline-block;
  padding: 10px 10px;
}

.search-box {
  width: 60%;
  position: relative;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  border-radius: 8px;
}

.search-input {
  width: 100%;
  font-family: Helvetica;
  font-size: 16px;
  padding: 15px 45px 15px 15px;
  background-color: white;
  color: #ff6b01;
  border-radius: 6px;
  border-color: #ff6b01;
  transition: all .4s;
}

.search-input:focus {
  border: none;
  outline: none;
  box-shadow:#ff6b01;

}

.search-btn {
  background-color: transparent;
  font-size: 18px;
  padding: 6px 9px;
  margin-left: -45px;
  border: none;
  color: orange;
  transition: all .4s;
  z-index: 10;
}

.search-btn:hover {
  transform: scale(1.2);
  cursor: pointer;
  color: #ff6b01;
}

.search-btn:focus {
  outline: none;
  color: #ff6b01;
}

.producto {
  width: auto;
  height: auto;
  position: relative;
  margin: 20px;
  border-radius: 8px;
  padding: 8px;
  transition: .3s;
  box-shadow: 0 5px 20px rgb(0, 0, .3);
  justify-content: center;
}

.producto:hover {
  transform: scale(1.1);
}

.imagen {
  height: 300px;
  background-color: white;
  margin: 5px;
  padding: 5px;
}

.imagen .juego {
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.card-info {
  background-color: white;
  margin-bottom: 2px;
  border: solid thin;
  border-color: grey;
  border-radius: 8px;
  padding: 9px;
}

.card-info .boton {
  background-color: #ff6b01;
  display: block;
  margin-left: auto;
  margin-right: 0;
}

.card-info h4,
.card-info h5 {
  font-weight: bold;
}

/*login*/

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 5px 20px rgb(0, 0, .3);

}

.login h1{
  color: #ff6b01;
  font-weight: bold;
  text-align: center;
  padding: 0 0 20px 0 ;
  border-bottom: 1px solid silver;
}

.login form{
  padding: 0 40px;
  box-sizing: border-box;
} 

form .txt{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}

.txt input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .4s;
}

.txt span::before{
  content: "";
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #ff6b01;
  transition: .4s;
}

.txt input:focus ~ label,
.txt input:valid ~ label{
  top: -5px;
  color: #ff6b01;
}

.txt input:focus ~ span::before,
.txt input:valid ~ span::before{
  width: 100%;
}

.pass{
  margin: -5px 0 20px 5px;
  color: orange;
  cursor: pointer;
  transition: .4s;
}

.pass:hover{
  text-decoration: underline;
  color: #ff6b01;
}

input[type="submit"]{
  width: 100%;
  height: 50px;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  background-color:orange ;
  transition: .4s;
}

input[type="submit"]:hover{
  background-color: #ff6b01;
}

.login a{
  color: orange;
  transition: .4s;
  text-decoration: none;
  font-size: 18px;
}

.login a:hover{
  text-decoration: underline;
  color: #ff6b01;
}

.bodyfalso {
  filter: blur(5px);
}



/*sidebox*/

.sidebar {
  margin-top: 30%;
}

.sidebar h3 {
  font-size:35px;
  color: #ff6b01;
  font-weight: bold;
}

input[type='checkbox'] {
  accent-color: #ff6b01;
  color: white;
}
.checkbox-wrapper{
  width: 55%;
}
.checkbox-wrapper button{
  background-color: #ff6b01;
}

.checkbox-wrapper label{
  font-weight:bolder;
}
